:root {
    --background-fff: #FFFFFF;
    --color-202020: #202020;
    --background-90A3BF: #90A3BF;
    --background-0578FF: #0578FF;
    --background-20202080: #20202080;
    --background-f5f5f5: #F5F5F5;
    --background-006AF5: #006AF5;
    --background-90A3BF80: #90A3BF80;
    --good-yellow: #FFC501;
    --linear: linear-gradient(180deg, #F5F5F5 0%, #DDECFF 50.17%, #F5F5F5 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--color-202020);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #DADADA;
    overflow-x: hidden;
    min-height: 100vh;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
}

/* header - style */

header {
    padding: 40px 64px;
    background: var(--background-f5f5f5);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 15px;
}

.logo h1 {
    font-size: 34px;
    font-weight: 400;
    color: var(--color-202020);
}

.logo img {
    object-fit: none;
}

.nav-links {
    display: flex;
    gap: 94px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-202020);
    font-weight: 400;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: var(--background-006AF5);
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--background-0578FF);
    transition: width 0.3s;
}

#registration {
    font-weight: 600;
}

.menu,
.menu-list {
    display: none;
}


/* header - style */

/* main - style */

#travel-registration {
    display: flex;
    gap: 32px;
    padding: 64px 64px 128px 64px;
    background: var(--linear);
    flex-wrap: wrap;
}

.travel-form {
    flex: 1;
    min-width: 300px;
    display: flex;
    gap: 32px;
}

.travel-form h1 {
    font-size: clamp(32px, 5vw, 64px);
    font-weight: 700;
}

.travel-img {
    animation: weightlessness 3s ease-in-out infinite;
}

.travel-img img {
    max-width: 100%;
    height: auto;
}

.trip-info {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
}

.departure,
.arrival {
    flex: 1;
    min-width: 200px;
}

.trip-title {
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    max-width: 100%;
}


.choose-trip {
    display: flex;
    width: 100%;
    max-width: 640px;
    height: auto;
    min-height: 34px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--background-fff);
    padding: 0 24px;
    flex-wrap: wrap;
}

.trip-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.trip-form h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

#departure,
#arrival {
    width: 100%;
    padding: 16px 24px;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 53px;
}

.trip-form input[type="text"]::placeholder {
    color: var(--background-90A3BF);
    font-weight: 500;
    font-size: 14px;
}

#departure:focus,
#arrival:focus,
.depart:hover,
.return:hover {
    box-shadow: 0 0 0 3px var(--background-006AF5);
    transition: all 0.3s ease;
}

input[type="radio"] {
    margin-right: 6px;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: var(--background-90A3BF);
    opacity: 0.5;
    border-radius: 50%;
    position: relative;
    top: 3px;
    cursor: pointer;
}


input[type="radio"]:checked {
    background-color: var(--background-006AF5);
    opacity: 1;
}

input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: var(--background-fff);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#count-people {
    display: flex;
    gap: 6px;
    align-items: center;
    color: var(--color-202020);
}

#count-people::before {
    content: url(img/person.png);
    position: relative;
    top: 3px;
    left: 4px;
}

#counter {
    font-family: 'Inter', sans-serif;
}

.btn {
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    padding: 0;
}


.btn-plus::before, .btn-minus::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;
    background-color: var(--color-202020);
    opacity: 0.5;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}


.btn-plus::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 12px;
    background-color: var(--color-202020);
    opacity: 0.5;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}


.btn-plus::before {
    background-color: var(--color-202020);
}


.btn-plus:hover::before,
.btn-plus:hover::after,
.btn-minus:hover::before {
    background-color: var(--background-006AF5);
    opacity: 1;
}

.dep-ret {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.depart,
.return {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 200px;
    border-radius: 10px;
    padding: 16px 24px;
    height: 53px;
    gap: 12px;
    background-color: var(--background-fff);
    flex: 1;
}

#depart,
#return {
    width: 100%;
    border: none;
    height: 100%;
    outline: none;
}

.trip-form button[type="submit"] {
    padding: 16px 24px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--background-0578FF);
    color: var(--background-fff);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.trip-form button[type="submit"]:hover {
    background-color: var(--background-006AF5);
}

.calendar {
    display: none;
    flex-direction: column;
    margin-top: 12px;
    padding: 24px 32px;
    border-radius: 10px;
    background-color: var(--background-fff);
    width: 100%;
    max-width: 640px;
}

.calendar__parts {
    display: flex;
    justify-content: space-between;
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 8px 0;
}

.calendar__header span {
    font-size: 14px;
    flex: 1;
}

.calendar__header img {
    cursor: pointer;
    width: 6px;
    height: 12px;
}

.left,
.right {
    padding: 4px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__day-names {
    display: flex;
    gap: 4px;
}

.days {
    padding: 8px;
    font-size: 12px;
    opacity: 0.5;
    width: 32px;
    height: 32px;
    text-align: center;
}

.calendar__day_numbersD,
.calendar__day_numbersR {
    display: flex;
    flex-direction: column;
}

.calendar__day-numbers-row {
    display: flex;
    gap: 4px;
}

.calendar__day-numbers-row:first-child {
    justify-content: flex-end;
}

.calendar__day-number {
    height: 32px;
    justify-content: center;
    aspect-ratio: 1;
    color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    width: 32px;
    cursor: pointer;
    font-size: 12px;
}

.calendar__day-number:hover {
    border: 1px solid var(--background-0578FF);
    border-radius: 50%;
    transition: all 0.1s ease;
}



.calendar__day-number--current {
    background-color: var(--background-0578FF);
    border-radius: 50%;
    color: #FFF;
}

#results {
    display: flex;
    padding: 60px 64px;
    background-color: var(--background-0578FF);
    text-align: center;
    justify-content: center;

}

.results-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}


#results span {
    font-size: 50px;
    color: var(--background-fff);
    font-weight: 700;
}

#results p {
    font-size: 20px;
    color: var(--background-fff);
    font-weight: 500;
}

#images {
    padding: 128px 64px;
    background: var(--linear);
}

#images h2 {
    font-size: clamp(32px, 5vw, 64px);
    font-weight: 700;
    margin-bottom: 24px;
}


.grid-img {
    display: flex;
    gap: 32px;
}


.flex-img__item {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.flex-img__item img,
.grid-img__item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.grid-img__item {
    display: flex;
    flex-wrap: wrap;
}

.grid-img__item img:nth-child(1) {
    margin-right: 32px;
}

.grid-img__item img {
    margin-bottom: 32px;
}

#mobileApp {
    background-color: var(--good-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 128px 0;
}

#mobileApp h1 {
    font-size: clamp(32px, 5vw, 62px);
    font-weight: 700;
    text-align: center;
    padding: 0 20px;
}

.download {
    display: flex;
    justify-content: center;
    gap: 32px;
    width: 100%;
    max-width: 863px;
    flex-wrap: wrap;
    padding: 0 20px;
}

#FAQ {
    padding: 177px 128px;
    background-color: var(--background-fff);
}

#FAQ h1 {
    font-size: clamp(32px, 5vw, 64px);
    font-weight: 700;
    margin-bottom: 40px;
}

.faq-content {
    max-width: 1086px;
}

.question {
    font-size: 18px;
    font-weight: 500;
}

.answer {
    padding: 16px 0;
    display: none;
}

.active {
    display: block;
}

.question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faqs-question:not(:last-child) {
    border-bottom: 1px solid var(--color-202020);
}

.faq-plus::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;
    background-color: var(--color-202020);
    border-radius: 10px;
    transform: translate(-50%, -50%);
}


.faq-plus::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 12px;
    background-color: var(--color-202020);
    border-radius: 10px;
    transform: translate(-50%, -50%);
}







/* main - style */

@media (max-width: 768px) {
    header {
        padding: 40px 32px;
    }

    .nav-links {
        display: none;
    }

    .menu {
        display: block;
    }

    .burger {
        width: 30px;
        cursor: pointer;
    }

    .line {
        background-color: var(--background-0578FF);
        height: 2px;
        transition: all 0.4s ease-out;
    }

    .line:not(:last-child) {
        margin: 7px 0;
    }

    .short {
        width: 16px;
    }

    .close .short {
        display: none;
    }

    .close .rotation1 {
        transform: rotate(45deg) translate(1px, 1px);
        transition: all 0.4s ease;
    }

    .close .rotation2 {
        transform: rotate(-45deg) translate(5px, -6px);
        transition: all 0.4s ease;
    }

    .open {
        display: block;
        animation: fadeIn 1s ease forwards;
    }

    #menu-list {
        position: absolute;
        top: 116px;
        left: 0;
        padding: 128px 32px;
        background-color: var(--background-0578FF);
        width: 100%;
        height: 100vh;
        z-index: 999;
        overflow: hidden;

    }

    #menu-list li {
        list-style: none;
    }

    #menu-list li:not(:last-child) {
        margin-bottom: 96px;
    }

    #menu-list a {
        text-decoration: none;
        font-size: 48px;
        color: var(--background-fff);
        transition: all 0.3s ease;
    }

    #menu-list a:hover {
        color: var(--background-006AF5);
    }

    #menu-list a:hover::after {
        width: 100%;
    }

    #menu-list a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: var(--background-0578FF);
        transition: width 0.3s;
    }

    .travel-img {
        display: none;
    }

    #travel-registration {
        padding: 32px;
    }

    .trip-title h1 {
        font-size: 64px;
    }

    .choose-trip {
        max-width: 100%;
    }

    #FAQ {
        padding: 64px 32px;
    }

    #FAQ h1 {
        font-size: 40px;
    }

    #mobileApp h1 {
        font-size: 40px;
        text-align: center;
        padding: 0 20px;
    }

    #mobileApp {
        padding: 64px 20px;
        gap: 32px;
    }

    #results {
        padding: 64px 32px;
    }
    .results-container {
        column-gap: 128px;
        row-gap: 40px;
        width: 100%;
        max-width: 506px;
        height: auto;
        flex: none;
        justify-content: center;
    } 
    #images {
        padding: 128px 32px;
    }
    .grid-img {
        flex-direction: column;
    }

    .grid-img__item, .flex-img__item {
        gap: 24px;
    }


    .grid-img__item img, .flex-img__item img {
        object-fit: cover;
        max-width: 100%;
    }

    .grid-img__item {
        flex-wrap: wrap;
    }

    .grid-img__item img:nth-child(1) {
        margin-right: 0;
        width: 100%;
        max-width: 340px;
        height: auto;
    }

    .grid-img__item img:nth-child(2) {
        margin-right: 0;
        width: 100%;
        max-width: 340px;
        height: auto;
    }

    .grid-img__item img {
        margin-bottom: 0;
    }

    .download {
        gap: 30px;
        max-width: 462px;
        padding: 0;
    }

    .download-box:first-child {
        width: 100%;
        display: flex;
        justify-content: center;
    }






}

@media (max-width: 360px) {
    header {
        padding: 40px 20px;
    }

    .logo h1 {
        display: none;
    }

    #menu-list {
        padding: 64px 20px;
    }

    .choose-trip {
        font-size: 12px;
        justify-content: space-between;
        padding: 0 8px;
    }

    #menu-list li:not(:last-child) {
        margin-bottom: 64px;
    }

    #menu-list a {
        font-size: 32px;
    }

    #travel-registration {
        padding: 24px 20px 128px;
    }

    .trip-title h1 {
        font-size: 32px;
        white-space: normal;
    }

    .trip-title p {
        font-size: 11px;
    }

    #images h2 {
        font-size: 32px;
    }

    .grid-img__item img:nth-child(1) {
        margin-right: 0;
        width: 100%;
        height: auto;
    }

    .grid-img__item img:nth-child(2) {
        margin-right: 0;
        width: 100%;
        height: auto;
    }

    .download-box img {
        max-width: 100%;
        height: auto;
    }

    .results-container {
        column-gap: 40px;
        row-gap: 30px;
    }

    #results span {
        font-size: 40px;
    }

    #results p {
        font-size: 16px;
    }
}

/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes weightlessness {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}