.footer {
    background-color: #0578FF;
    color: #fff;

    &__top-box {
        height: 404px;
        display: flex;
        justify-content: center;
    }

    &__bottom-box {
        padding: 64px 64px 0px;
        display: flex;
        justify-content: space-between;
    }

    &__links {
        display: flex;
        gap: 32px;
    }


    &__logo {
        height: 51px;
    }

    &__list {
        width: 192px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        &-item:first-of-type {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        &-item:not(:first-of-type) {
            cursor: pointer;

            &:hover {
                font-weight: bold;
            }
        }
    }

    &__date {
        padding: 40px 64px 76px;
    }
}

.contacts {
    padding: 60px 0;
    text-align: center;
    background-color: #fff;
    color: black;
    width: calc((640px * 100%) / 1440px);
    border-radius: 10px;
    border: 1px solid rgba(32, 32, 32, 0.5);
    margin: -121px;
    height: max-content;

    &__title {
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 28px;

        &--extra-margin {
            margin-bottom: 8px;
        }
    }


    &__address {
        font-size: 18px;
        margin-top: 30px;
        line-height: 1.5;
    }
}