.header {
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
    background-color: rgba(243, 244, 246, 1);
    align-items: center;
    position: relative;

    &__list {
        display: flex;
        align-items: center;
        gap: 95px;
    }

    &__list-item {
        font-size: 20px;
        line-height: 24px;

        &:hover {
            font-weight: bold;
            cursor: pointer;
        }
    }

    &__logo {
        height: 51px;
    }

    &__burger-menu {
        width: 30px;
        height: 24px;
        display: none;
    }

    &__menu {
        width: 468px;
        background-color: #0578FF;
        position: absolute;
        color: white;
        height: 0;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .header {
       &__burger-menu {
        display: block;
       } 

       &__list {
        display: none;
       }
    }
}