.main {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 64px 64px 128px;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(243, 244, 246, 1) 0%, rgba(225, 238, 254, 1) 100%);


    &__image {
        width: calc((640px * 100%) / 1312px);
    }

    &__title {
        font-size: 64px;
        font-weight: bold;
    }

    &__text {
        font-size: 16px;
        margin: 32px 0;
    }

    &__radio-btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 3px 24px;
        border-radius: 10px;
    }

    &__counter-box {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    &__btn-icon {
        width: 20px;
    }

    &__user-icon {
        width: 22px;
        margin-right: 3px;
    }

    &__counter-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: inherit;
    }

    &__counter {
        width: 20px;
        text-align: center;
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        gap: 24px 32px;
        padding-top: 24px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 16px;
        width: calc(50% - 16px);

        &-header {
            font-weight: bold;
        }

        &-input {
            padding: 16px 24px;
            height: 53px;
            background-color: #fff;
            border-radius: 10px;
            border: none;
            display: flex;
            align-items: center;
            gap: 12px;
            color: #90A3BF;
        }
    }

    &__btn {
        background-color: #0578FF;
        width: 100%;
        padding: 16px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
        border: none;
    }
}